.body {
  background: #e87c34;
  box-sizing: border-box;
}

.calculator {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "display display" "digits operations";
  max-width: 350px;
  margin: 150px auto 0;
  background: #ddff00;
  padding: 15px 10px;
  border-radius: 5px;
  gap: 15px;
}

.button {
  background: #0a9484;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: #ddff00;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.button:focus {
  outline: none;
}

.display {
  grid-area: display;
  height: 40px;
  background: #0baf9c;
  color: #ddff00;
  font-size: 25px;
}

.digits {
  display: flex;
  gap: 10px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  grid-area: digits;
}

.digits-button {
  flex-basis: 30%;
}

.operations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-area: operations;
}

.wide {
  grid-column: span 2;
}

.theme-button {
  position: absolute;
  top: 17px;
  left: 17px;
}

.count {
  position: absolute;
  bottom: 17px;
  left: 17px;
  display: flex;
  gap: 10px;
}

.count-button {
  width: 50px;
  border-radius: 50%;
}

.count-button.pressed {
  border: 3px solid #fcea25;
}

.count-circle {
  width: 50px;
  max-height: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ddff00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 3px;
  box-sizing: border-box;
}
