body {
  background: #05594f;
}

.calculator {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "display display" "digits operations";
  max-width: 350px;
  margin: 150px auto 0;
  background: #ddff00;
  padding: 15px 10px;
  border-radius: 5px;
  gap: 15px;
}

.button {
  background: #0a9484;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: #ddff00;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.button:focus {
  outline: none;
}

.display {
  grid-area: display;
  height: 40px;
  background: #0baf9c;
}

.digits {
  display: flex;
  gap: 10px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  grid-area: digits;
}

.digits-button {
  flex-basis: 30%;
}

.operations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-area: operations;
}

.wide {
  grid-column: span 2;
}
